@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  overflow-x: clip;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero-container .hero-img {
  background-image: url('../public/hero-img/Ovals.png');
  background-repeat: no-repeat;
  height: 700px;
  width: 800px;
}
.hero-container .h4{
  line-height: 50px;
}
.service-container p{
  line-height: 30px;
}
