@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  overflow-x: clip;
  font-family:serif;
}

.hero-container .hero-img {
  background-image: url('../public/hero-img/Ovals.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.service-container p{
  line-height: 30px;
}
.contact-container .hero-img {
  background-image: url('../public/hero-img/Ovals.png');
  background-repeat: no-repeat;
  height: 700px;
  width: 800px;
}
.call-section {
  line-height: 38px;
}